<launch>
  <arg name="arm_id" default="panda" />
  
  <include file="$(find franka_gazebo)/launch/panda.launch">
    <arg name="arm_id" value="$(arg arm_id)" />
    <!-- <arg name="hand" value="false" /> -->
  </include>

  <rosparam 
    command="load" 
    file="$(find franka_gazebo)/config/sim_controllers.yaml" 
    subst_value="true" 
  />

  <node 
    name="controller_spawner" 
    pkg="controller_manager" 
    type="spawner" 
    respawn="false" 
    output="screen" 
    args="position_joint_trajectory_controller" 
  />


</launch>